* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: azure;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

header, h1 {
  background-color: #339994;
  padding: 10px;
  color: white !important;
  margin: 0;
  line-height:1.25;
  font-size: 55px;
  
}

header a {
  margin: 10px;
  padding: 5px;
  color: white !important;
  font-size: 20px;
}

.card-title {
  background-color: #55a5df;
  color: rgba(229, 219, 219, 0.94);
  padding: 15px;
}

.card {
  background-color: azure;
}

.card h5, .card p {
  color: black;
  font-style:normal;
  border: 5px;
  border-radius: 5px;
}

button {
  padding: 5px;
  margin: 10px;
}

#newpost {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  
}

#content, #editedContent {
 justify-content: center;
  width: 40vw;
  height: 4vw;
  margin: auto;
}

#create, #update, #delete {
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#comment {
width: 40vw;
margin-top:20px;
margin: auto;
height: 5vw;
}

#title, #editedTitle {
  width: 40vw;
  height: 3vw;
}
